<div id="preloader">
  <div class="loader"></div>
</div>
<div class="login-area login-s2">
  <div class="container">
    <div class="login-box ptb--100">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="login-form-head">
        <h4>Resend confirmation instructions</h4>
      </div>
      <div class="login-form-body">
        <div class="form-gp focused">
          <label for="exampleInputEmail1">Email</label>
          <%= f.text_field :email, id: 'exampleInputEmail1', autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <i class="ti-email"></i>
        </div>
        <div class="submit-btn-area">
            <button id="form_submit" type="submit">Resend confirmation instructions<i class="ti-arrow-right"></i></button>
          </div>
          <div class="form-footer text-center mt-5">
            <p class="text-muted"><%= render "users/shared/links" %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
