<%= render 'shared/header_bg' %>
<div class='row'>
  <div class="card text-white bg-primary ml-5 mt-4 mr-4 col-sm-6" style="max-width: 18rem;">
    <div class="card-header">Expiry Date Of Subscription</div>
      <div class="card-body">
        <h5 class="card-title" style="color:white;">Your Subscription is ending on </h5>
        <p class="card-text">2020-10-03</p>
      </div>
    </div>
    <div class="card text-white bg-danger mt-4 mr-4 col-sm-6" style="max-width: 18rem;">
      <div class="card-header">Unpaid Invoices</div>
      <div class="card-body">
        <h5 class="card-title" style="color:white;">You have Unpaid Invoices</h5>
        <p class="card-text">5</p>
      </div>
    </div>
    <%= link_to apartments_path do %>
      <div class="card text-white bg-success mt-4 mr-4 col-sm-6" style="max-width: 18rem;">
        <div class="card-header">Manage Accommodation Ads</div>
        <div class="card-body">
          <h5 class="card-title" style="color:white;">Manage your Accommodations</h5>
          <p class="card-text">Add/Edit/Delete</p>
        </div>
      </div>
    <% end %>
    <%= link_to edit_user_registration_path do %>
      <div class="card text-white bg-warning mt-4 mr-4 col-sm-6" style="max-width: 18rem;">
        <div class="card-header">Manage profile</div>
        <div class="card-body">
          <h5 class="card-title" style="color:white;">Manage your personal details</h5>
          <p class="card-text">Add/Edit/Delete</p>
        </div>
      </div>
    <% end %>
  </div>
</div>