<div class="modal-header">
  <h5 class="modal-title"><%= t('invoice.title') %></h5>
  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
</div>
<div class="modal-body">
  <div class='row'>
    <p>
    You are now one-step away from confirming your booking!

How to book

    1. Please make sure you are fully aligned with your landlord on the rental (entry date, exit data, 
    2. Select your entry and exit date
    3. Pay the €100 booking fee to confirm the booking

What happens next?

    1. Once booked, you will receive all details of your landlord
    2. Please arrange the contract directly with your landlord
    3. Arrange a meeting date for the keys, you are all set!
    </p>
    <div class="modal-footer">
      <%= link_to "Back", '', data: { dismiss: 'modal' }, class: 'btn at-btn' %>
      <%= link_to 'Book Now', new_booking_path(apartment_id: params[:apartment_id]), remote: true, class:"at-btn col-sm-3 ml-1" %>
    </div>
  </div>
</div>
