<div class="at-haslayout at-innerbannerholder">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-12">
        <div class="at-innerbannercontent">
        </div>
      </div>
    </div>
  </div>
</div>
