<!-- Header-->
<header id="header" class="header">
  <div class="header-menu">
    <div class="col-sm-7">
      <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
    </div>

    <div class="col-sm-5">
      <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag url_for(current_user.image), class: "user-avatar rounded-circle" %>
        </a>
        <div class="user-menu dropdown-menu">
          <%= link_to edit_user_registration_path, class: "nav-link" do %>
            <i class="fa fa- user"></i>My Profile
          <% end %>
          <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
            <i class="fa fa-power -off"></i>Logout
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header
><!-- /header -->