<li class="at-nextpage">
  <% url =  "#{apartments_path}?page=#{total_pages}" if current_page.last? %>
  <%= link_to url, rel: 'next', remote: remote do %>
    <i class="ti-angle-right"></i>
  <% end %>
</li>
