<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout pb-0">
  <!-- Success Year Section Start -->
  <section class="at-haslayout py-5">
    <div class="container py-3">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="accordion" id="faqExample">
            <div class="card">
              <div class="card-header p-2" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Q: Are utilities included in the cost?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer:</b> Utilities may or may not be included in the cost of rent. Water is commonly factored in, but heating, gas and electricity often are paid by the tenant. If you're concerned about utilities, contact your local provider for an estimate.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Q: How Do I Pay Rent?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>This varies from apartment to apartment and from landlord to landlord. Most apartment complexes will have some form of online payment for rent nowadays. However, ask if there are any additional costs/fees for paying online. Some apartments tack on additional fees for online payments.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Q. What Changes Can I Make To The Apartment?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>Want to load your new home up with your favorite wall art, or paint the walls to something more your style? You’re going to have to go through your landlord first.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Q. What Is The Guest Policy?
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>Having visitors shouldn’t be an issue, but your friend’s stay might be limited. Some guest policies are stricter and landlords may want your visitors to sign in and not stay for longer than two weeks. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Q. Will My Rent Ever Go Up?
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>If you are planning on settling down in one apartment for the foreseeable future, you should ask about any potential changes that could be coming when you renew your lease.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Q. What’s the parking situation?
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>High-density areas usually have permit and license requirements which the landlord should be able to describe.If you and your roommates have multiple cars, make sure you’ll all fit and can meet the governmental requirements.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Q. How far in advance do I need to give notice before moving out?
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>In many instances you’ll have to give notice 30-60 days in advance of moving out. If you don’t give the required notice, your lease could automatically renew or you could lose your security deposit.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-2" id="headingEight">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Q. Are there plans to make any updates to the apartment complex?
                  </button>
                </h5>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                <div class="card-body">
                  <b>Answer: </b>This is important for two reasons: 1) If improvements are being made then you may have to deal with construction, and 2) updates could add to the amenities, enjoyment and appeal of your apartment.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--/row-->
  </div>
<!--container-->
</main>
<!-- Main End -->
