<!-- Main Start -->
<main id="at-main" class="at-main at-haslayout pb-0">
  <!-- FAQ Section Start -->
  <section class="at-haslayout py-5">
    <div class="row">
      <div class="col-10 mx-auto">
        <h4>Terms and conditions (English version)</h4>
        <h5>1. Our mission</h5>
        <p>Our mission is to connect INSEAD students with owner of properties to address students’ housing needs while studying at INSEAD</p>
        <h5>2. Housing listing</h5>
        <p>When you list an apartment, the listing last a full year and is billed 100 euros (100 SGP for Singaporean landlord). Listing are automatically renewed every year and a new billing is issued. Unpaid invoices lead to the listing withdrawal without further notice. The listing must be transparent, provide a fair description of the place and give required information (price, etc.)</p>
        <h5>3. Housing reservation</h5>
        <p>The platform only connect students and property owners. Reservations are done directly between students and property owners</p>
        <h5>4. Platform rules</h5>
        <p>Act with integrity and treat other with respect. Do not damage, reverse engineer, jeopardize or change the platform. Information available on the platform are for the students only and cannot be used for business purpose. Fake reservations or listing are strictly forbidden. Initial interactions with students are made on an anonymous basis, please do not share your information with students before the confirmation of the booking.</p>
        <h5>5. Responsibility limitation</h5>
        <p>The platform only connect students and property owners. The platform is not an agency let alone a concierge service. Potential conflicts should be solved directly between students and property owners.</p>
        <h5>6. Account termination</h5>
        <p>Platform administrator remains entitled to terminate account without further notice.</p>
        <h4>Termes et conditions (version française)</h4>
        <h5>1. Notre mission</h5>
        <p>Notre mission est de faciliter la mise en relation des étudiants de l’INSEAD avec des propriétaires de logement afin de répondre au besoin ponctuel de logement des étudiants durant leur séjour à l’INSEAD.</p>
        <h5>2. Listing d’hébergement</h5>
        <p>Lorsque vous listez votre appartement, le listing dure un an et est facturé 100 euros. La facture est à réglé dans les 30 jours. Tous les ans le renouvellement de votre annonce est automatique et une facture de 100 euros est émise. Le non règlement d’une facture entraîne le retrait de l’annonce sans préavis. L’annonce doit être transparente et donner une description fidèle du logement ainsi que de donner les informations nécessaires (prix, , etc.).</p>
        <h5>3. Réservations d'hébergement</h5>
        <p>La plateforme ne fait que mettre en relation les étudiants avec les propriétaires. Les réservations d’hébergement se font uniquement en directe entre le propriétaire et les étudiants.</p>
        <h5>4. Règles de la plate-forme</h5>
        <p>Agir avec intégrité et traiter les autres avec respect. Ne pas endommager, pirater, faire de l'ingénierie inverse, compromettre ou altérer la plate-forme. Les informations communiquées sur la plateforme sont à destination des étudiants uniquement et ne peuvent pas être acquise à des fins commerciales (type démarchage). Il est interdit de faire de fausses réservations ou de lister de fausses annonces. Les échanges initiaux avec les étudiants se font sur une base anonyme. Merci de ne pas communiquer vos coordonnées avant la confirmation de la réservation par l’étudiant.</p>
        <h5>5. Exclusion de responsabilité.</h5>
        <p>La plateforme se limite à la mise en relation des étudiants et des propriétaires. La plateforme n’est pas une agence et ne fournit pas de service de conciergerie. Les éventuels différents doivent être gérés directement entre les étudiants et les propriétaires et la plateforme ne fait pas d’ingérence dans ces relations.</p>
        <h5>6. Clôture de compte</h5>
        <p>L’administrateur conserve le droit de clôturer un compte utilisateur sans préavis.</p>
      </div>
    </div>
  </section>
</main>
