@import "common";
@import "map_style";
@import 'homes';


.at-description {
	line-height: 30px;
}
.at-description i {
	margin-right: 10px;
	color: #20c997;
}
.at-article-content .at-title {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 15px;
}
.at-article-content .at-title h4 {
	font-size: 18px;
}
.at-article-content {
	padding: 20px;
    border: 1px solid #dddddd !important;
	border-radius: 5px;
}
.bootstrap-select > .dropdown-toggle {
	background: transparent;
	box-shadow: none;
	border: 0;
	padding: 16px;
	color: #767676;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light.active:not(:disabled):not(.disabled), .show > .btn-light.dropdown-toggle {
	color: #212529;
	background-color: transparent;
	border-color: transparent;
}