.custom-radio{
  margin-top: 0%;
  .male{
    margin-left: 40px;
  }
  .female{
    margin-left: 40px;
  }
}

.profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}