.form-group{
  .custom-radio{
    .female{
      margin-left: 82px !important;
    }
  }
}

.form-gp, .form-group{
  .lbl{
    margin-left: 13px;
  }
  .custom-radio{
    padding-bottom: 6px;
    margin-left: 75px;
    margin-top: 0%;
    .male{
      margin-left: 82px;
    }
    .female{
      margin-left: 100px;
    }
  }
  .min-length{
    position: initial !important;
    margin-left: 0px;
  }
  .file-select{
    height: 40px;
  }
  .selectpicker{
    height: 40px;
  }
}
.profile {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}