@import "dashboard/normalize";
@import "dashboard/bootstrap.min";
@import "dashboard/font-awesome.min";
// @import "dashboard/themify-icons";
@import "dashboard/nunito.scss";
@import "dashboard/flag-icon.min";
@import "dashboard/cs-skin-elastic";
@import "dashboard/animate";
@import "dashboard/style";
@import "common/bootstrap-select.min";
@import "landlord/rooms";

.card {
  border-radius: 4px;
}

body {
  font-family: 'Nunito', sans-serif !important;
  letter-spacing: normal !important;
  font-weight: 700 !important;
}

.bootstrap-select > .dropdown-toggle{
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #eeeeee;
}

#image-limit-validation {
  color: #dc3545;
}
