@import "common";

.modal-content .errors{
  position: absolute;
  top: -70px;
  width: 100%;
}
.homesliderimg{
  max-width: 100%;
  height: 500px;
}
.all_properties{
  text-align: center;
}
.row{
  .host-btn{
    margin-top: 2px !important;
    width: 25px;
  }
  .at-logo{
    width: 90px;
  }
}
.contact-us{
  padding: 0px;
}