@import "bootstrap";
@import "common/normalize.scss";
@import "common/fontawesome-all.min";
@import "common/bootstrap-select.min";
@import "common/linearicons";
@import "common/themify-icons";
@import "common/owl.carousel.min";
@import "common/fullcalendar.min";
@import "common/prettyPhoto";
@import "common/tipso";
@import "common/lightpick";
@import "common/main-min";
@import "common/transitions.scss";
@import "common/responsive-min.scss";

.is-invalid-popover {
  background-color: #ffdde0;
  left: -8px !important;
  .popover-body{
    color: #934C5B;
  }
}
.is-invalid-popover[x-placement^="top"] .arrow::after {
  border-top-color: #ffdde0;
}
.is-invalid-popover[x-placement^="left"] .arrow::after {
  border-left-color: #ffdde0;
}