@import "bootstrap";
@import "bootstrap-select.min";
@import "font-awesome";
@import "themify-icons";
@import "metisMenu";
@import "owl.carousel.min";
@import "slicknav.min";
@import "typography";
@import "default-css";
@import "styles";
@import "responsive";

input,
.StripeElement {
  height: 40px;
  padding: 10px 12px;

  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}