<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong class="card-title"><%= t('user.new') %></strong>
      </div>
      <div class="card-body">
        <%= render 'form', user: @user, url: admin_users_path, method: :post %>
      </div>
    </div>
  </div>
</div>
