<%= render 'search_header' %>
<div class="card-area">
  <div class="row", id='apartmentCard'>
    <%= render 'apartments', apartments: @apartments %>
  </div>
  <div class='d-flex justify-content-center mt-3 dapartments-pagination'>
    <%= render 'apartments_pagination', apartments: @apartments %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function (e) {
    $('.selectpicker').selectpicker('refresh');
    $('#arrival-date, #departure-date').datetimepicker({
      format: 'DD/MM/YYYY'
    });
    Filter.result();
  });
</script>
