<!-- Preloader Start -->
<div class="preloader-outer">
  <div class="at-preloader-holder">
    <%= image_tag 'loader.png', alt: "laoder img" %>
    <div class="at-loader"></div>
  </div>
</div>
<!-- Preloader End -->
<%= render 'search_header' %>
<!-- Wrapper Start -->
<div id="at-wrapper" class="at-wrapper at-haslayout">
  <!-- Home Slider End -->
  <!-- Main Start -->
  <main id="at-main" class="at-main at-haslayout">
    <!-- Two Columns Start -->
    <div class="at-haslayout at-main-section">
      <div class="container">
        <div class="row">
          <div id="at-twocolumns" class="at-twocolumns at-haslayout">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-12">
            <!-- Properties List Start -->
              <div class="at-properties-listing">
                <%= render 'apartments' %>
              </div>
            <!-- Properties List End -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Two Columns End -->
  </main>
  <!-- Main End -->
</div>
<!-- Wrapper End -->
<!-- Login Popup Start-->
<div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="loginpopup" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="at-modalcontent modal-content">
      <div class="at-popuptitle">
        <h4>Login</h4>
        <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
      </div>
      <div class="modal-body">
        <form class="at-formtheme at-formlogin">
          <fieldset>
            <div class="form-group">
              <input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
            </div>
            <div class="form-group">
              <input type="password" value="" class="form-control" placeholder="Password*">
            </div>
            <div class="form-group at-btnarea">
              <span class="at-checkbox">
                <input id="at-login" type="checkbox" name="rememberme">
                <label for="at-login">Remember me here</label>
              </span>
              <button type="submit" class="at-btn">login</button>
            </div>
          </fieldset>
        </form>
        <span class="at-optionsbar"><em>or</em></span>
        <div class="at-loginicon">
          <ul>
            <li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
            <li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
          </ul>
        </div>
      </div>
        <div class="modal-footer">
        <div class="at-popup-footerterms">
          <span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
        </div>
        <div class="at-loginfooterinfo">
          <a href="javascript:void(0);"><em>Not a member?</em> Signup Now</a>
          <a href="javascript:;" class="at-forgot-password">Forgot password?</a>
        </div>
        </div>
    </div>
  </div>
</div>
<!-- Login Popup End-->
<!-- Register Popup Start-->
<div class="modal fade at-loginpopup" tabindex="-1" role="dialog" id="registerpopup" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="at-modalcontent modal-content">
      <div class="at-popuptitle">
        <h4>Register</h4>
        <a href="javascript:void(0);" class="at-closebtn close"><i class="lnr lnr-cross" data-dismiss="modal"></i></a>
      </div>
      <div class="modal-body">
        <form class="at-formtheme at-formlogin">
          <fieldset>
            <div class="form-group">
              <input type="text" name="email" value="" class="form-control" placeholder="Your Email*" required="">
            </div>
            <div class="form-group">
              <input type="password" value="" class="form-control" placeholder="Password*">
            </div>
            <div class="form-group">
              <input type="password" value="" class="form-control" placeholder="Retype Password*">
            </div>
            <div class="form-group at-btnarea">
              <button type="submit" class="at-btn">Register</button>
            </div>
          </fieldset>
        </form>
        <span class="at-optionsbar"><em>or</em></span>
        <div class="at-loginicon">
          <ul>
            <li><a href="javascript:void(0);" class="at-facebookbox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
            <li><a href="javascript:void(0);" class="at-googlebox"><i class="fab fa-facebook-f"></i>Via facebook</a></li>
          </ul>
        </div>
      </div>
        <div class="modal-footer">
        <div class="at-popup-footerterms">
          <span>By signing in  you agree to these <a href="javascript:void(0);"> Terms &amp; Conditions</a> &amp; consent to<a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></span>
        </div>
        <div class="at-loginfooterinfo">
          <a href="javascript:void(0);"><em>Have Account?</em> Login Now</a>
          <a href="javascript:;" class="at-forgot-password">Forgot Your Password?</a>
        </div>
        </div>
    </div>
  </main>
</div>
  </div>
</div>
<!-- Register Popup End-->
